@charset "utf-8";

body {
    color: #ffffff;
    background-color: #151515;
    font-size: 20px;
    zoom: 0.8;
}

html {
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

.species td {
    width: 90px;
    height: 90px;
    padding: 0px;
}

.pieces {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    position: relative;
    border: 3px;
}

.pieces img {
    width: 100%;
    opacity: 0.3;
}

.ybutton {
    width: 80%;
    height: 50%;
    background: #2f2f2f;
    padding: 0px;
    margin: 0 auto;

    transition: all ease 0.3s;
    text-align: center;
    color: #fff;

}

.ybutton:hover {
    background: #ffffff;
    transform: scale(1.4);
    color: #2f2f2f;
}

.name {
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    position: absolute;
    bottom: 12px;
    left: 6px;
}

#elf {
    width: 90px;
    color: #2a6392;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#human {
    width: 90px;
    color: #b8bcbd;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#beast {
    width: 90px;
    color: #00be00;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#goblin {
    width: 90px;
    color: #801c1b;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#demon {
    width: 90px;
    color: #66178b;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#undead {
    width: 90px;
    color: #3c3f41;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#orc {
    width: 90px;
    color: #c12629;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#naga {
    width: 90px;
    color: #4346c1;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#elementals {
    width: 90px;
    color: #b7ba35;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#troll {
    width: 90px;
    color: #8f8d64;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#dragon {
    width: 90px;
    color: #e70a0f;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#dwarf {
    width: 90px;
    color: #ab6043;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#satyr {
    width: 90px;
    color: #343181;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#ogre {
    width: 90px;
    color: #357788;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#assassin {
    width: 90px;
    color: #f3e46e;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#warrior {
    width: 90px;
    color: #9d9283;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#mage {
    width: 90px;
    color: #6da6b4;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#warlock {
    width: 90px;
    color: #797899;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#hunter {
    width: 90px;
    color: #71c891;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#knight {
    width: 90px;
    color: #b98da1;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#mech {
    width: 90px;
    color: #816a2f;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#druid {
    width: 90px;
    color: #8e5428;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#demonhunter {
    width: 90px;
    color: #442a5c;
    vertical-align: middle; 
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

#shaman {
    width: 90px;
    color: #1b3fa6;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
}

.cost_1 img {
    border: 3px solid #ffffff;
}

.cost_2 img {
    border: 3px solid #BEF781;
}

.cost_3 img {
    border: 3px solid #463fe0;
}

.cost_4 img {
    border: 3px solid #ec10f0;
}

.cost_5 img {
    border: 3px solid #f38b19;
}